h1 {
    font-family: 'Righteous', cursive;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px gray;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.jumbotron {
    padding: 10px;
}

.glyphicon-circle-arrow-up {
    font-size: 30px;
    cursor: pointer;
    float: right;
    margin: 20px;
}

.well {
    transition: 0.5s;
}

.well:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.well-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid grey;
}
.github {
    padding: 10px;
    text-align: center;
}

.well a {
    color: black;
    text-decoration: none;
}

.well a:hover {
    color: white;
}

footer {
    padding-bottom: 10px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#cnt {
  display: none;
   
}