/* css by Eduard Grabchak */
body {
	background-color: #F5F5F5;
}

.logo-text { font-family: 'Lobster Two', cursive; }
.logo-text:hover {border-bottom:3px solid red;}

.cbalink{display:none}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
}

kbd {
  font-size: 18px;
}

.panel .panel-heading {
	background-color:black;
	color:white;
	transition:0.3s;
}

.panel{
	box-shadow: 5px 5px 3px #888888;
	 
}

.navbar-nav li a{
    transition: background-color 0.3s;
    letter-spacing: 5px;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover {
    color: black !important;
    background-color: white !important;
}

  .logo{
	margin-left: 5px;
	float: right;
 
	margin-top:-15px;
	width:50px;
	height:50px;
}

.bg {
    position: relative;
    height: auto;
    width: 100%;
     
}

.down {
	position: absolute;
	bottom: 111px;
	color:black;
	left:0; right: 0;
	width: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 50px;
	
	
}
.glyphicon-chevron-down{
 transition:color 0.3s;
 color: black;
}
.glyphicon-chevron-down:hover {
	cursor: pointer;
	color: orange;	
}
.glyphicon {
	font-size: 40px;
}
.glyphicon-chevron-up {
	color: black;

}

.glyphicon-chevron-up:hover {
	text-decoration: none;
}

h1 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   text-align: center;
   width: 100%; 
}
  
h1 span { 
   color: white; 
  /* font: bold 40px Helvetica, Sans-Serif;*/ 
   letter-spacing: -1px;  
    background-color: #1F1F1F;
   background: rgba(0, 0, 0, 0.7);
   border-radius: 10px;
   padding: 10px; 
}

hr {
	border-bottom: 2px solid black;
	width: 30%;
}

h1,h2 {
	   font-family: 'Righteous', cursive;

}
h2,h3,h4 {
	text-align: center;
}

@media screen and (max-width: 720px) {
    h1 span{
       font-size: 16px;
       
    }
}

@media screen and (max-width: 920px) {
      
    .img-card {
      margin: auto;
    }
}

.container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.img-card{
	 
	height: 250px;
	width: auto;
	border-radius: 30px;
	border:2px solid grey;
	transition: transform 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img-card:hover {
	transform: scale(1.03); 
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.about {
	background-color: black;
	color:white;
	border-radius: 50px;
	padding: 20px;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
 

.services {
  position: relative;

 
}

.service {
	padding: 20px;

  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  opacity: 0.9;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.services:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
   
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

strong {
	font-size: 18px;
}

.ua {
  margin-left: 5px;
  float: right;
  border-radius: 50%;
  margin-top:-7px;
  width:30px;
  height:30px;
}

.footer{
width:100%;
background-color:black;
color:white;
padding: 5px;
}
	