*{
    box-sizing: border-box;
}

.jumbotron{
    padding: 10px;
}

.jumbotron p{
	font-size: 20px;
}

footer{
    bottom: 0;

    text-align: center;
}

td{
    font-size: 16px;
}

.btn:focus,.btn:active {
   outline: none !important;
}


.btn{
	border-radius: 15px;
}

