body {
    box-sizing: border-box;
    background-color: #F9F9F9;
}

h1 {
    font-weight: 100;
    font-size: 30px;
}

h2 {
    font-size: 26px;
    color: black;
    font-weight: 100;
    padding-left: 5px;
}



.comments p {
    font-size: 15px;
    padding: 0 5px;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2B2F3E;
    color: white;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav p {
    color: #6E6F72;
    font-size: 16px;
}

input.form-control {
    margin-right: 5px;
}

.btn-add {
    background-color: #27CCC0;
    color: white;
    font-weight: bold;
}



.items {
    margin-left: 220px;
    margin-top: 30px;
    padding: 20px 10px;
    height: auto;

    box-shadow: 1px 2px 2px 4px #DDDDDD;
}

.comments {

    margin-top: 30px;
    padding: 20px 10px;
    height: auto;

    box-shadow: 1px 2px 2px 4px #DDDDDD;
}



.active-item p {
    margin-left: -12px;
    font-weight: bold;
    padding: 10px;
    transition: 0.2s;
}

.active-item p:hover {
    border-left: 4px solid red;
}

.rect {
    width: 50px;
    height: 50px;

    background-color: orange;
}